{% extends "base.html" %}

{% block content %}

  <h4 style="text-align: center;">HDHR URLs</h4>

  <p style="text-align: center;">This plugin emulates the appearance of a SiliconDust HDHomeRun</p>

  <p style="text-align: center;">If SSDP doesn't work right for you, try manually adding the below url's directly into your media server (Plex/Emby/Channels)</p>

  <div class="container">
    <table class="table-medium center action-col">
      <tbody>
        <tr>
          <th>Origin</th>
          <th>URL</th>
        </tr>

        {% for origindict in origin_dict_list %}
          <tr>
            <td>{{ origindict["name"] }}</td>
            <td><a href="{{ origindict["url"] }}">{{ origindict["url"] }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
